@page "/editpokemon/{id}" 
@inherits EditPokemonBase

<EditForm Model="@EditPokemonModel" OnValidSubmit="HandleValidSubmit">
    <ObjectGraphDataAnnotationsValidator/>
    <ValidationSummary/>
    <h3>Edit Pokemon</h3>
    <hr>
    <div class="form-group row">
        <label for="name" class="col-sm-2 col-form-label" >Name</label>
        <div class="col-sm-10">
            <InputText id="name" class="form-control" placeholder="Name" 
                        @bind-Value="EditPokemonModel.Name"></InputText>
            <ValidationMessage  For="(() => EditPokemonModel.Name)"/>
        </div>
    </div> 
    <div class="form-group row">
        <label for="email" class="col-sm-2 col-form-label" >Email</label>
        <div class="col-sm-10">
            <InputText id="email" class="form-control" placeholder="Email" 
                        @bind-Value="EditPokemonModel.Email"></InputText>
            <ValidationMessage  For="(() => EditPokemonModel.Email)"/>
        </div>
    </div> 
    <div class="form-group row">
        <label for="confirmEmail" class="col-sm-2 col-form-label" >Confirm Email</label>
        <div class="col-sm-10">
            <InputText id="confirmEmail" class="form-control" placeholder="Confirm Email" 
                        @bind-Value="EditPokemonModel.ConfirmEmail"></InputText>
            <ValidationMessage  For="(() => EditPokemonModel.ConfirmEmail)"/>
        </div>
    </div>
    <div class="form-group row">
        <label for="typeOne" class="col-sm-2 col-form-label">Type One</label>
        <div class="col-sm-10">
            <CustomInputSelect id="typeOne" @bind-Value="EditPokemonModel.TypeOneId" class="form-control" >
                  @foreach (var type in PokemonTypes)
                  {
                      <option value="@type.PokemonTypeId">@type.Value</option>
                  }          
            </CustomInputSelect>
        </div>
    </div>
    <div class="form-group row">
        <label for="typeTwo" class="col-sm-2 col-form-label">Type Two</label>
        <div class="col-sm-10">
            <CustomInputSelect id="typeTwo" @bind-Value="EditPokemonModel.TypeTwoId" class="form-control" >
                  @foreach (var type in PokemonTypes)
                  {
                      <option value="@type.PokemonTypeId">@type.Value</option>
                  }          
            </CustomInputSelect>
        </div>
    </div>
    <div class="form-group row">
        <label for="gender" class="col-sm-2 col-form-label">Gender</label>
        <div class="col-sm-10">
            <InputSelect id="gender" @bind-Value="EditPokemonModel.Gender" class="form-control" >
                  @foreach (var gender in Enum.GetValues(typeof(BlazorPokemon.Models.Gender)))
                  {
                      <option value="@gender">@gender</option>
                  }          
            </InputSelect>
        </div>
    </div>
    <div class="form-group row">
        <label for="dateOfBirth" class="col-sm-2 col-form-label">Date Of Birth</label>
        <div class="col-sm-10">
            <InputDate @bind-Value="EditPokemonModel.DateOfBirth" class="form-control"></InputDate>
        </div>    
    </div>
    <div class="form-group row">
        <label for="typeOneValue" class="col-sm-2 col-form-label" >Name</label>
        <div class="col-sm-10">
            <InputText id="typeOneValue" class="form-control" placeholder="TypeOne Value" 
                        @bind-Value="EditPokemonModel.TypeOne.Value"></InputText>
            <ValidationMessage  For="(() => EditPokemonModel.TypeOne.Value)"/>
        </div>
    </div> 

    <button class="btn btn-primary" type="submit">Submit</button>
</EditForm>




